*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.imagenLogo{
    max-height: 60px;
    width: auto;
    height: auto;
    border-radius: 10px;
}

.navbar {
    background-color: #f5f5f5;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand{
    max-width: 100%;
    overflow: hidden;
    font-weight: 500;
    color: #009970;
    font-size: 27px;
    transition: 0.3s color;
}

.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 17px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    font-size: 17px;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px){

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

.infoInicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 10vh;
    width: auto;
}

.titulo{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 4rem;
   color: #fff;
}

.parrafo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 1.5rem;
}

h2{
    font-size: 2.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #fff;
}

.contenedorInfoPyme{
    width: 100%;
    background: linear-gradient(#444444, #8a8989, #3a3838);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.infoPyme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    color: #fff;
    margin: auto;
    background: linear-gradient(#444444, #8a8989, #3a3838);
    max-width: 190vh;
}

.parrafoQuienesSomos{
    font-size: 1.2rem;
    padding: 2vh;
    text-align: justify;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

.cajas {
    display: flex;
    gap: 20px; 
    margin: 5vh;
}

.tituloInfo{
    margin: auto;
    font-size: 3rem;
    margin-bottom: 2vh;
}

.imagenLateral {
    max-width: 50vh;
    max-height: 70vh;
}

.textoInfo{
    font-size: 1.5rem;
}

.textosInfoPyme{
    flex: 1;
    margin: auto;
    padding: 2vh;
}

.quienesSomos, .mision{
    background-color: #353333;
    color: #ffffff;
    max-width: 150vh;
    max-height: 150vh;
}

.nuestraHistoria, .vision{
    background-color: #353333;
    color: #ffffff;
    max-width: 150vh;
    max-height: 150vh;
}

.imagenInfo{
    max-width: 75vh;
    max-height: 60vh;
}

.segundaImagen, .terceraImagen, .cuartaImagen{
    height: 50vh;
}

.primeraImagen, .terceraImagen{
    position: relative;
    right: 1.3vh;
}

.segundaImagen, .cuartaImagen{
    position: relative;
    left: 2vh;
}

.vision{
    margin-bottom: 8vh;
}

.servicios{
    width: 100%;
    height: auto;
    background-color: #000;
    border: 1px solid #1f1d1d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#carouselExampleIndicators .carousel-item img {
    object-fit: cover; 
    max-height: 100vh; 
}

.infoServicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    color: #fff;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35vh, 1fr));
    font-family: Arial, Helvetica, sans-serif;
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 2rem auto;
}

.productos .producto {
    background: var(--color-gris);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 2px solid gray;
    padding: 1rem;
    margin: 0 0 5vh 0;
    text-align: center;
    background-color: #fff;
}

.productos .producto img {
    max-width: 100%;
    max-height: 30vh;
    object-fit: cover;
    border-radius: 8px;
    padding-bottom: 1vh;
}

.infoProductos{
    color: #fff;
    padding: 1vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
    background-color: #1f1d1d;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.footer-container > div {
    flex: 1;
    min-width: 280px;
    margin: 10px;
    box-sizing: border-box;
}

.infoContacto h4, .opinion h4 {
    margin-bottom: 10px;
}

#inicio {
    position: relative;
    height: 100vh; 
    overflow: hidden; 
}

.fotoEmpresa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-control{
    margin-bottom: 1vh;
}

.areatexto {
    resize: none;
}

.btn{
    width: 100%;
    font-size: 2vh;
    margin-top: 1.5vh;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .titulo{
        font-size: 2.5rem;
    }
    .parrafo{
        font-size: 1rem;
    }
    .subtituloQuienesSomos{
        font-size: 1.5rem;
    }
    .parrafoQuienesSomos{
        font-size: 1rem;
    }
    .subtituloServicios{
        font-size: 1.5rem;
    }
    .parrafoServicios{
        font-size: 1rem;
    }
    .listaServicios{
        position: relative;
        right: 5vh;
        font-size: 1rem;
    }
    .imagenLogo{
        height: 10vh;
    }
    .login-button{
        font-size: 14px;
    }
    .btn{
        font-size: 14px;
    }
    .cajas {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .textosInfoPyme{
        margin-top: 1vh;
    }
   
    .nuestraHistoria, .vision{
        max-height: 83vh;
    }

    .primeraImagen{
        position: relative;
        left: 0vh;
        max-width: 40vh;
        max-height: 43vh;
    }

    .segundaImagen{
        position: relative;
        left: 0vh;
        max-width: 40vh;
        max-height: 43vh;
    }

    .terceraImagen{
        position: relative;
        left: 0vh;
        max-width: 40vh;
        max-height: 30vh;
    }

    .cuartaImagen{
        position: relative;
        left: 0vh;
        max-width: 40vh;
        max-height: 30vh;
    }

    .tituloInfo{
        margin: auto;
        font-size: 2rem;
        margin-bottom: 2vh;
    }

    .textoInfo{
        font-size: 1.1rem;
    }
    #carouselExampleIndicators .carousel-item img {
        height: 50vh; /* Altura fija para todas las pantallas */
        width: 100%; /* Ajuste completo del ancho */
        object-fit: cover; 
    }
}


