/* Reset de estilos básicos */
*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06052c;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar {
    background-color: #f5f5f5;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 27px;
    transition: 0.3s color;
}

/* Botones */
.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 17px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

/* Toggler */
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

/* Links de navegación */
.nav-link {
    color: #666777;
    font-weight: 500;
    font-size: 17px;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.contenedorTodo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 80vw; 
}

.contenedorImagen, .contenedorFormulario {
    max-width: 45vw;
    width: 100%;
}

.contenedorImagen {
    max-height: 55vh;
    height: 50vh;
    border-radius: 9px;
}

.contenedorFormulario {
    padding: 2rem;
    background-color: #272727;
    color: antiquewhite;
    border-radius: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    box-shadow: 5px black;
}

form {
    display: flex;
    flex-direction: column;
}

/* Ajustes en elementos del formulario */
.mb-3 {
    margin-bottom: 1rem;
}

.form-check-input {
    margin-right: 0.5rem;
}

.btn {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.reseteo {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2vh;
    font-size: 1.1rem;
}

.h2 {
    margin-bottom: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .contenedorTodo {
        flex-direction: column;
        gap: 10px;
    }
    .contenedorImagen, .contenedorFormulario {
        max-width: 100vh; /* Reduce el ancho máximo en dispositivos móviles */
    }
    .contenedorImagen{
        max-height: 55vh;
        height: 30vh;
    }
}
